.card {
    position: relative;
    border-radius: 10px;
    padding: 2px 10px;
    width: 10em;
    height: 12em;
    box-shadow: 2px 5px 10px rgb(56, 55, 55);
    .temperature {
        margin:0;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 30px;
        font-weight: 5;
    }
    .date {
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 10px;
        font-weight: 10;
    }
    .weather {
        margin-top: 10px;
        display: flex;
        padding: 10px;
        .typeWeather {
            font-size: 20px;
        }
        img {
            width: 5em;
        }
    }
}