@font-face {
    font-family: "merriweather";
    src: url(./assets/fonts/MerriweatherSans-Medium.ttf);
}

* {
    font-family: "merriweather";
    
}
body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}